* {
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

#carouselExampleControls {
    height: 100vh;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    position: fixed;
    margin-top: -60px;
}

.header {
    text-align: center;
    margin: 40px;
    margin-bottom: 40px;
    background: rgba(36,36,36,1);
    background: -moz-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,36,36,1)), color-stop(100%, rgba(26,26,26,1)));
    background: -webkit-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    background: -o-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    background: -ms-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    background: linear-gradient(to bottom, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#1a1a1a', GradientType=0 );
    border-radius: 8px;
    padding: 6px;
}

#header-1 {
    color: coral;
    border: 1px solid rgba(255, 127, 80, 0.4);
}

#header-2 {
    color: #4EE35C;
    border: 1px solid rgba(78, 227, 92, 0.4);
}

#header-3 {
    color: crimson;
    border: 1px solid rgba(202, 20, 60, 0.4);
}

.container {
    margin-bottom: 80px;
}

.card {
    color: #FFF4FC;
    margin-bottom: 20px;
    border: none;
    height: 120px;
    background: rgba(79,70,148,1);
    background: -moz-linear-gradient(top, rgba(79,70,148,1) 0%, rgba(60,55,117,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,70,148,1)), color-stop(100%, rgba(60,55,117,1)));
    background: -webkit-linear-gradient(top, rgba(79,70,148,1) 0%, rgba(60,55,117,1) 100%);
    background: -o-linear-gradient(top, rgba(79,70,148,1) 0%, rgba(60,55,117,1) 100%);
    background: -ms-linear-gradient(top, rgba(79,70,148,1) 0%, rgba(60,55,117,1) 100%);
    background: linear-gradient(to bottom, rgba(79,70,148,1) 0%, rgba(60,55,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4694', endColorstr='#3c3775', GradientType=0 );
}

.channel-info {
    padding-top: 10px;
    font-size: 14px;
    text-shadow: 1px 1px #303030;
    padding-left: 70px;
}

.channel-info span {
    font-size: 18px;
    font-weight: 600;
    color: #FEBCC2;
}

.status {
    background-color: lawngreen;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    margin: 6px;
}

#footer {
    position: fixed;
    bottom: 0;
    background-color: #1E1E1E;
    height: 50px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(36,36,36,1);
    background: -moz-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,36,36,1)), color-stop(100%, rgba(26,26,26,1)));
    background: -webkit-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    background: -o-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    background: -ms-linear-gradient(top, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    background: linear-gradient(to bottom, rgba(36,36,36,1) 0%, rgba(26,26,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#1a1a1a', GradientType=0 );
}

.footer-icons {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 30px;
}

.footer-orange {
    border-top: 1px solid rgba(255, 127, 80, 0.4);
    color: coral;
}

.footer-green {
    color: #4EE35C;
    border-top: 1px solid rgba(78, 227, 92, 0.4);
}

.footer-red {
    color: crimson;
    border-top: 1px solid rgba(202, 20, 60, 0.4);
}

.footer-icons i:hover {
    opacity: 0.8;
}

.footer-icons a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

footer p {
    display: inline-block;
    margin: 12px;
    font-size: 14px;
}

@media only screen and (max-width: 500px) {
    .channel-info {
        margin-top: -5px;
        font-size: 13px;
        text-shadow: 1px 1px #303030;
        padding-left: 85px;
}

    .channel-info span {
        font-size: 16px;
        font-weight: 500;
    }
}

